*
{
    padding: 0;
    margin: 0;

}

body
{
    height: 100vh;
}

.main-content
{
    display: flex;
    flex-direction: column;

}

.first-color { 
	background: #f70776; 
}
	
.second-color { 
	background: #c3195d; 
}

.third-color { 
	background: #680747; 
}

.fourth-color { 
	background: #141010; 
}


header
{
    display: flex;
    height: 100%;
}

.main
{
    min-height: 600px;
    flex: 1;
    padding: 32px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Personal_Website_Prototype/images/MarcusHeroIMG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 100vw;
  }


.hero-text {
    text-align: center;
    width: 50%;
    color: white;
    font-style: italic;
    margin-left: 15%;
    font-size: 32px;
  }

  .hero-text span
  {
    font-weight: bold;
    display: block;
  }

.about
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
	background: #141010; 
    color:  #f70776; 

}

h1
{
    margin: 24px;
}

.about img
{
    max-width: 100vw;
    height: 100px;
    border-radius: 100px;
}

.about-header
{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}


.about p
{
    letter-spacing: 1.5px;
    max-width: 60%;

}

.my-interests
{
	background: #680747; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color:  #c3195d;

}

h2
{
    text-align: center;
    
}

.interest-cards
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;


}

.interest-card
{
    border: 2px dotted grey;
}

.interest-card img
{
    height: 200px;
    max-width: 100vw;
}


.interest-cards p 
{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.quotes
{
	background: #c3195d; 
    color:  #680747;
    text-align: center;
}

.quote-cards
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-card
{
    display: flex;
    align-items: center;
    gap: 70px;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 20px;
    width: 800px;

}



.quotes img
{
    height: 200px;
    max-width: 100vw;
    border-radius: 20px;

}

.contact
{
	background: #f70776; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-cards
{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
}

.contact-card
{
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 200px;
    max-height: 100%;
}

.small-text
{
    font-size: 12px;
}


.image-container
{
    max-width: 100%;
    height: 75px;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.contact img
{
    height: 50px;
    max-width: 100vw;
    
}